<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Yelp Review Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css"> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
   
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <button class="navbar-header"><a href="index.html">Home</a></button>
      
      <div class="btn-group navbar-right">
          <button class="navbar-header" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href="">Methods</a> 
          </button>
          <ul class="dropdown-menu">
            <li><a href="ML_al.html">#1 </a></li>
            
          </ul>  
          <button class="navbar-header"><a href="GuessGame.html">Guess Game</a></button>
          <button class="navbar-header"><a href="data.html">Data</a></button>
          
      </div>  
    </div><!-- /.container-fluid -->
  </nav>
  
  <div class="container">

    <br>
    <h1>Natural Language Processing & few Analysis on Yelp dataset</h1>
    <img id="mainpicture" src="https://rfsdelivers.com/media/zoo/images/03-02-yelp_0414657f68898d05af8085822784b7db.jpg">
    
    <h3>Why Yelp dataset?</h3>
    <p>
      Yelp is a local business directory service and review site with social networking features.
      It allows users to give ratings and review businesses. The review is usually short text 
      consisting of few lines with about hundred words. Often, a review describes various dimensions
      about a business and the experience of user with respect to those dimensions.This big dataset is a
      subset of Yelp's businesses, reviews, and user. 
    </p>
    <h3>Our Goals are:</h3>
    <p> 
      To discover what's in a review? Is it positive or negative? what the last sentences in the review can tell you? how to predict the reviewers based on their 
      previouse reviews.
   </p>
            
  </div>   
</body>
</html>